body {
	text-align: center;
         font-family: verdana;
    background-color: #fff;

}
    a:hover{
        text-decoration: underline
    }
    a:visited,a:link,a:active{
        color: black;
        text-decoration: none
    }
    #cssdropdown{
        display: inline 
    }
    li.headlink ul { display: none; }
       li.headlink:hover ul { display: block; }
       .children_menu{
           display: block
       }
#mainwrap {
	width: 880px;
	margin: 0 auto;
	text-align: left;
}

#leftcol {
	width: 224px;
	float: left;
}

#rightcol {
	width: 656px;
	float: left;
}

span#logo {
	margin: 0;
}
#logo{
   	display: block;
	height: 72px;
	line-height: 72px;
	font-size: 18px;
	color: #000;
	font-family: "Trebuchet MS";
	text-transform: uppercase;
	padding: 0 20px;
}
#logo a {
	display: block;
	height: 72px;
	line-height: 72px;
	font-size: 18px;
	color: #000;
	font-family: "Trebuchet MS";
	text-transform: uppercase;
	padding: 0 20px;
        
}

#logo a span {
	color: #ea4800;
}

#logo a:hover {
	text-decoration: none;
}

#mainnav {
	border-top: solid 20px #343428;
       
}
 #cssdropdown li a, #cssdropdown li  {
	
        margin-top: -20px;
}
#cssdropdown ul li, #cssdropdown li a, #cssdropdown li a span {
	display: block;
	height: auto;
	line-height: 46px;
       
}

#cssdropdown ul {
	margin: 0;
}

#cssdropdown ul li {
	list-style-type: none;
	margin: 0;
}

#cssdropdown ul li a {
	background: url(../images/mainnav_bg.gif) left top repeat;
}

#cssdropdown ul li a span {
	color: #fff;
	font-weight: bold;
	background: url(../images/bullet1.gif) 19px 50% no-repeat;
	padding-left: 35px;
}

#mainnav a:hover {
	text-decoration: underline;
	color: #fff;
}

.module-box h2 {
	height: 28px;
	line-height: 28px;
	padding: 0 19px;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	margin: 0;
}

.module-content {
	padding: 8px 19px;
}

h2.orange {
	background: #ea4800;
	border: solid 1px #cc0000;
}

h2.none {
	font-size: 16px;
	color: #666;
	line-height: 30px;
	margin-bottom: 0;
}

h2.grey {
	background: #8e8870;
	border: solid 1px #666666;
}

.grey {
	background: #e7e2cc;
}

.grey1 {
	background: #edecd8;
}

#header {
	background: #343428;
	height: 72px;
}

#call {
	width: 165px;
	height: 31px;
	float: left;
	color: #8e8870;
	margin-top: 20px;
	margin-left: 63px;
	background: url(../images/but_call_bg.gif) left top no-repeat;
	line-height: 31px;
	text-indent: 35px;
}

#search {
	float: right;
	margin: 20px 12px 0 0;
	background: url(../images/search-icon-bg.gif) left 50% no-repeat;
	padding-left: 20px;
}

#search input {
	border: solid 1px #8e8870;
	background: #343428;
	color: #8e8870;
}

#search #ok {
	border: none;
	background: url(../images/but-ok-bg.gif) left 50% no-repeat;
	color: #8e8870;
	width: 32px;
	height: 25px;
	font-size: 11px;
}

#search input {
	margin-left: 5px;
}

#banner {
	height: 240px;
	
}

#content {
	border-top: solid 10px #343428;
	border-bottom: solid 10px #343428;
	padding: 16px;
}

img.floatleft {
	margin-right: 16px;
	float: left;
}

ul.bullet li {
	list-style-type: none;
	background: url(../images/bullet2.gif) left 50% no-repeat;
	padding-left: 16px;
}

#footer {
	padding: 16px;text-align:center;width:600px;margin:0 auto;
}

#botnav ul {
	margin: 0 auto;
width:400px;
}

#botnav ul li {
	list-style-type: none;
	float: left;
	margin-right: 40px;
	margin-left: 0;
}

#botnav ul li a {
	color: #ea4800;
}

#copyright {
	text-align:center;
	margin-top:15px;
}